body {
	background-color: #EEE;
	color:black;
	font-family: Calibri;
	margin: 0px;
}

a {
	text-decoration:none; 
	color:#0075D0;
}


td {
	vertical-align: top;
}


table.allSeries {
	width: 80%;
}

select, input[type=text], input[type=submit], input[type=password] {
	background-color:#DDD;
	border:1px solid black;
	border-radius:4px;
	padding-left:4px;
	padding-right:4px;
}

.error { 
	color:red;
}

table.allseries  td
{
	padding:10px;
}


.seen, .tba {
	color:black;
}

.notseen {
	color:#0075D0;
}

.notaired, .newep {
	color:red;
}

table.allepisodes td {
	text-align:center
}

thead td{
	font-weight:bold;
	color: #0075D0;
}

.img-round
{
	border-radius:8px;
	border:1px solid black;
}

.gray-out
{
	display:inline;
	opacity:0.7;
}
